/*  11/11/2017   */

/*
  Color-orange:  #d77617
*/
/*----------------------------------------------------------------------------*/
/*                      BASIC SETUP                                           */ 
/*----------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    background-color: #fff;
    color: #555;
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;  /*/ this property insure that the font are aligned in stable measurement:/*/ 
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*-----------------------------------------------------------------*/
/*                   REUSABLE COMPONENTS                           */
/*-----------------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0px;
    
}

h1,
h2,
h3{
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

h1{
   margin: 0; 
   font-size: 200%; /* This sets the font-size to 40px which is the twice  
     the Main-html-tag 'font-size' which is universe to all html-tag elements in.our stylesheet*/
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{ /*The 'after' is pesudo that allow us to add html-element from the 
          css*/
    display: block;
    height: 3px;
    background-color: #d77617;
    content: "";  /*The content-tag is required when using after-attribute */
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;  
}

h3{
    font-size: 100%;
    margin-bottom: 15px;
}

.box{
    padding: 40px 0px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*-----------------------------LINK-------------------------------*/
a:link,
a:visited{
    text-decoration: none;
    color: #d77617;
    padding-bottom: 1px;
    border-bottom: 1px solid #d77617;
    transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent; /*transparent removes the border-underline*/
        
}


/*--------------------------PARAGRAPHS----------------------------*/
.Long-copy{
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}


/*----------------------------ICON--------------------------------*/

.icon-vig{
    font-size: 250%;
    display: block;
    color: #d77617;
    margin-bottom: 10px;
    padding-left: 80px;
    
}

.icon-small{
    color: #d77617;
    display: inline-block;;
    width: 30px;
    height: 0px;
    text-align:center;
    font-size: 120%;
    
    /* align text and icons */
    line-height: 120%;
    vertical-align:middle;
    margin-top: -31px;
    margin-right: 2px;
}
  
/*-----------------------------------------------------------------*/
/*                   BUTTONS COMPONENTS                            */
/*-----------------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{ /* 'link' and visted' add condition the when the links are used*/                 
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 80%;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /*remove this line to delete the border*/
    transition: background-color 0.3s, border 0.3s, color 0.3s ; 
    /* transition add a slow-motion effect when we hover over the button  */
}

.btn-home:link,
.btn-home:visited,
input[type=submit]{
  background-color: #e67e22;
  border: 2px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #d77617;   
}


.btn-home:hover,
.btn-home:active{
  background-color: #b86512;    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 2px solid #e67e17;
    color: #fff;
}


/*-------------------------------------------------------------------*/
/*                     HEADER COMPONENT                              */
/*-------------------------------------------------------------------*/

header{
    background-image: linear-gradient(rgba(10, 8, 8, 0.72), rgba(8, 6, 6, 0.72)) , url(img/hero.jpg); /* the linar-gradiant allow us to add a second background into the image */
    background-size: cover; /* The cover allows us to fit the image into our section */
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.title-text{
    position: absolute;
    width: 1140px;
    top:35%;
    left: 55%;
    transform: translate(-50%, 50%) /* translates the elementer of half the it's width into the left */
}

.logo{
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}

.main-nav{
    float: right;
    list-style: none; 
    padding: 0px 10px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 60px;
   
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75%;
    border-bottom: 2px solid transparent; /* The transparent hides the
                                            border if button is not hoving or active */ 
    transition: border-bottom 0.4s;
    padding-bottom: 8px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #d77617;
}
    
/*----------------------------------------------------------------*/
/*                       MEALS-SECTION                            */
/*----------------------------------------------------------------*/

.section-meals{
    padding: 0;
}


.meals-imgs{
    list-style: none;
    width: 100%;
}

.meals-imgs li{
    display: block;
    float: left;
    width: 25%;
}

.meals-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.18);
    transition: transform 0.5s, opacity 0.5s;    
}
.meals-photo img:hover{
    transform: scale(1.09);
    opacity: 1;
}

/*--------------------------------------------------------------*/
/*                    HOW IT WORKS-SECTION                      */
/*--------------------------------------------------------------*/

.section-steps{
    background-color: #f0f0f0;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
    
}

.app-iphone-img{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 66px;
}


.works-step div{
    color: #d77615;
    border: 2px solid #d77617;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border:0;
}

.btn-app img{
    height: 50px;;
    width: auto;
    margin-right: 10px;
    
}

/*--------------------------------------------------------------*/
/*                    THE CITY SECTION                          */
/*--------------------------------------------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 30px; 
}

.city-feature {
    margin-bottom: 5px;
}

/*-------------------------------------------------------------*/
/*                    THE CUSTOMER REVIEW                      */
/*-------------------------------------------------------------*/
   
.section-reviews{
    background-image: linear-gradient(rgba(10, 8, 8, 0.72), rgba(8, 6, 6, 0.72)), url(img/back-customers.jpg);
    background-size: cover;
    color: #f4f0f0;
    background-attachment: fixed;
}

blockquote{

    padding: 2%;
    font-style: italic;
    line-height: 145%;
    font-size: 85%;
    position: relative;
    margin-top: 40px;
    
}


blockquote:before{
    content: '\201C';
    font-size: 400%;
    font-style: italic;
    display: block;
    position: absolute;
    top: -5px;
    left:-5px;
}


cite{
    display: block;
    font-size: 80%;
    margin-top: 22px;
    
}

cite img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-right: 12px;
    vertical-align: middle;
}


/*-------------------------------------------------------------*/
/*                    MEAL-PRICE-SECTION                       */
/*-------------------------------------------------------------*/

.section-plans{
    background-color: #f0f0f0;
}

.plan-box{
    background-color: #f7f7f7;
    border-radius: 2%;
    width: 80%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #dedede;
}

.plan-box div{
    background-color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-box div:first-child{
    background-color: #f8f8f8;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}


.plan-price {
    font-size: 180%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #d77617;
}

.plan-price span{
   padding-left: 10px;
   font-size: 50%;  
   font-weight: 200; 
}

.plan-price-meal{
   font-size: 80%;   
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
    font-size: 90%;
}

/*-------------------------------------------------------------*/
/*                    CONTACT-FORM-SECTION                     */
/*-------------------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=submit]
select,
textarea{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

select{
    background-color: #f8f8f8;
    padding: 1px;;
    width: 100%;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 8px 9px 8px 0;
}

*:focus{outline: none;}

/*-------------------------------------------------------------*/
/*                      FOOTER-SECTION                         */
/*-------------------------------------------------------------*/

footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

footer p{
    color: #9f9f9f;
    text-align: center;
    margin-top: 30px;
}

.footer-nav{
    float: left;
    margin-left: 6px;
    font-size: 90%;
    
}

.social-link li:link,
.social-link li:active{
    
}

.social-link{
    list-style: none;
    float: right; 
    margin-right: 10px;
}

.footer-nav li ,
.social-link li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-link li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}

.social-link li a:link,
.social-link li a:visited{
    font-size: 110%;
}

.ion-social-facebook,
.ion-social-twitter, 
.ion-social-google, 
.ion-social-instagram{
    transition: color 0.3s;
} 


.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color: #00aced;
}
.ion-social-google:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}


.footer-nav li a:hover,
.footer-nav li a:active{
    text-decoration: none;
    border: 0;
    color: #d4d4d4;
}

.social-link li a:hover,
.social-link li a:active{
    text-decoration: none;
    border: 0;
    color: #d0d0d0;
}






